name: Publish to server

on:
  push:
    branches: [ "main" ]

jobs:

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        run: |
          git clone https://github.com/StartBootstrap/startbootstrap-creative.git
          mv startbootstrap-creative/scripts ./
          mv startbootstrap-creative/src ./
          mv startbootstrap-creative/package-lock.json ./
          mv startbootstrap-creative/package.json ./

          docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO_NAME }} .
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO_NAME }}
  
  server_update:
    needs: push_to_registry
    name: Update server buy ssh
    runs-on: ubuntu-latest
    steps:
        - name: Create SSH key
          run: |
            mkdir -p ~/.ssh/
            echo "$SSH_PRIVATE_KEY" > ~/.ssh/private.key
            sudo chmod 600 ~/.ssh/private.key
            echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
          shell: bash
          env:
            SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
            SSH_KNOWN_HOSTS: ${{secrets.SSH_KNOWN_HOSTS}}
            SSH_KEY_PATH: ~/.ssh/private.key
        - name: Connect and deploy with SSH
          run: |
            ssh -i "~/.ssh/private.key" ${{ secrets.USERNAME }}@${{ secrets.SERVER_HOST }}<<EOT
              sudo docker stop frontend
              sudo docker rm frontend
              sudo docker image rm tsuyakashi/pipline-test
              sudo docker pull tsuyakashi/pipline-test
              sudo docker run -d -p 80:8080 --name frontend tsuyakashi/pipline-test
            EOT
